@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

@font-face {
	font-family: Playball;
	src: url(Playball-Regular.ttf);
  }

body {
    font-family: Lato, sans-serif;
    background-color: #f5f5f5;
}


/* Sidebar Styles */
.navbar-container{
  z-index: 3;
}

#sidebar {
width: 320px;
position: fixed;
top: 0;
left: 60px;
height: 100%;
background-color: black;
opacity: 0.8;
padding: 20px;
transition: all 0.3s;
font-family: Lato;
z-index: 2;
}
#sidebar.show {
right: 0;
}
#sidebar .logo {
font-size: 24px;
font-weight: 700;
color: #ffffff;
text-decoration: none;
}
#sidebar .components {
padding: 20px 0;
margin: 0;
}
#sidebar .components li {
padding: 10px;
list-style-type: none;
cursor: pointer;
}
#sidebar .components li a {
color: #ffffff;
text-decoration: none;
display: block;
transition: all 0.3s;
line-height: 2;
font-family: Lato, sans-serif;
font-size: 15px;
font-weight: 500;
}
#sidebar .components li a:hover {
color: #FFC80B;
}
/* Active Nav Item */
.nav-item.active a {
  color: #FFC80B !important;
}

#sidebar .footer1 {
position: absolute;
bottom: 30px;
left: 20px;
width: calc(100% - 40px);
color: #ffffff;
font-family: Lato, sans-serif;
}
#sidebar .footer1 p{
    margin-bottom: 1rem ;
    font-size: 14px;
}
.menu-line {
height: 4px;
width: 30px;
background-color: #91e0fd;
margin-bottom: 5px;
}
.menu {
cursor: pointer;
display: none;
}
#content {
margin-left: 400px;
padding: 20px;
width: calc(100% - 435px);
}

/* Logo Image */
.logo-img {
width:60%;
height: auto;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.youtube {
  background: #dc4141;
  color: white;
}

.instagram {
  background: #ffa7a7;
  color: white;
}

.weather {
  background: #3b3b37;
  color: white;
}
.tripadvisor{
background: #26da7d;
}
.toggle-button {
position: fixed;
top: 49%;
/* left: 0; */
transform: translateY(-50%);
z-index: 1001;
background-color: transparent;
color: white;
border: none;
cursor: pointer;
left: 50px;
font-size: 30px;
}
/* Styles for WhatsApp icon at bottom right */
.whatsapp {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: #41eb63;
  color: white;
  padding-top: 5px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  font-size: 30px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.whatsapp:hover {
  background-color: #000;
}

.phone{
background:#32fd6b;
}
body {
  overflow-y: auto; 
  overflow-x: hidden; /* Hide horizontal scrollbar */

}


.tripadvisor-widget {
  display: none;
  position: absolute;
  right: 10%;
  bottom: 35%;
}


/* Show the widget only on screens wider than 900px */
@media (min-width: 900px) {
  .tripadvisor-widget {
      display: block;
  }
}

@media (max-width: 1040px) {
  .social-icons{
    margin-bottom: 10%;
  }
}

@media (max-width: 480px){
  .footermenu{
    margin-right: 20px !important;
  }
}

@media (max-width: 900px) {
	.logo-img {
		width: 20%;
		height: auto;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
  }
  
	#sidebar {
	  width: 100%;
	  left: 0;
	  top: 0;
	  height: auto;
	  padding: 0px 0px 0px 0px;
    opacity: 10;
    position: fixed;
    z-index: 1000;
	}
	#sidebar .logo {
	  text-align: center;
	}
	#sidebar .menu {
	  display: block;
	  position: absolute;
	  right: 12%;
	  top: 45px;
	}
	#sidebar .components {
	  display: none;
	}
	#sidebar .components li {
	  padding: 10px;
	  list-style-type: none;
	  text-align: center;
	}
	#sidebar .components li.hide-icons span {
	  display: none;
	}
	#sidebar.show .components {
	  display: block;
	}
	.footer1 {
	  display: none;
	}
  .p-4 {
    padding: 10px !important;
  }
  .mb-5, .my-5 {
      margin-bottom: 0rem !important;;
  }
}

:root {
  /* Colors */
  --brand-color: hsl(46, 100%, 50%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Montserrat", sans-serif;
  --font-text: "Lato", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card-container h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-weight: 700;
    font-family: Lato, sans-serif;
    margin-top: 7rem;
  }

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title);
  color: var(--white);
  line-height: 1.1;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1.5;
  color: var(--white);
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 28.125rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 4% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  background-color: var(--brand-color);
  font-family: var(--font-title);
  font-size: 1.125rem;
  color: var(--black);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-left: 24%;
    margin-bottom: 15%;
}

/* For large screens (laptops) */
@media (min-width: 1040px) {
    .card {
        flex: 0 0 48%; /* Two cards per row with a 2% gap */
    }
    .card{
        gap: 1rem !important;
    }
}

/* For medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1030px) {
    .card {
        flex: 0 0 100%; 
    }
    .card-container {
        margin-left: 35% ;
        gap: 4.1rem!important;
    }
}

/* For small screens (mobiles) */
@media (max-width: 767px) {
    .card {
        flex: 0 0 100%; 
    }
    .card-container {
        margin-left: 0%;
        margin-bottom: 35% !important;
    }
}

/* Footer */

.footertop{
    background-color: #f5f5f5;
  }
  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .footermenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .footermenu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .footermenu__link {
    font-size: 13px;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .footermenu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0px 10px 20px;
    font-size: 10px;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
    z-index: 1;
  }
  
  .wave#wave1 {
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  