@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&display=swap');

/* General Styles */
@font-face {
	font-family: Playball;
	src: url(Playball-Regular.ttf);
  }

  body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
  font-display: swap;
  }
  video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
  }
  
  /* Sidebar Styles */
  #sidebar {
	width: 320px;
	position: fixed;
	top: 0;
	left: 60px;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	padding: 20px;
	transition: all 0.3s;
  font-family: Lato;
  z-index: 2;
  }
  #sidebar.show {
	right: 0;
  }
  #sidebar .logo {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
  }
  #sidebar .components {
	padding: 20px 0;
	margin: 0;
  }
  #sidebar .components li {
	padding: 10px;
	list-style-type: none;
	cursor: pointer;
  }
  #sidebar .components li a {
	color: #ffffff;
	text-decoration: none;
	display: block;
	transition: all 0.3s;
	line-height: 2;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 500;
  }
  #sidebar .components li a:hover {
	color: #FFC80B;
  }
  /* Active Nav Item */
  .nav-item.active a {
    color: #FFC80B !important;
  }

  #sidebar .footer {
	position: absolute;
	bottom: 30px;
	left: 20px;
	width: calc(100% - 40px);
	color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 14px;
  }
  .menu-line {
	height: 4px;
	width: 30px;
	background-color: #32FD6B;
	margin-bottom: 5px;
  }
  .menu {
	cursor: pointer;
	display: none;
  }
  #content {
	margin-left: 400px;
	padding: 20px;
	width: calc(100% - 435px);
  }
  
  /* Logo Image */
  .logo-img {
	width:60%;
	height: auto;
  }

  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
  .icon-bar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1000;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.youtube {
    background: #dc4141;
    color: white;
}

.instagram {
    background: #ffa7a7;
    color: white;
}

.weather {
    background: #3b3b37;
    color: white;
}

/* Styles for WhatsApp icon at bottom right */
.whatsapp {
    position: fixed;
    bottom: 50px;
    right: 30px;
    background: #41eb63;
    color: white;
    padding-top: 5px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    align-self: center;
    text-align: center;
    font-size: 30px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.whatsapp:hover {
    background-color: #000;
}

.phone{
  background:#32fd6b;
}


  body {
	overflow-y: auto; /* Ensure scrollbar is visible */
  }

  /* .hero{
	margin-bottom: 0px;
  } */

  .hero-video{
	width: 100%;
	height: 100%;
}
  
  .hero2 {
	background-color: #F5F5F5;
	padding: 50px;
	text-align: center;
	color: #333333;
	font-size: 22px;
	/* font-weight: bold; */
	font-family: Lato, sans-serif;
	padding-top: 5%; 
	padding-left: 400px;
	/* margin-bottom: 20%; */
  }

  .hero2 h1{
    font-size: 32px;
    font-weight: bold;
  }
  
  .rooms-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
  }
  
  .room {
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
  }
  .room-container1 {
	position: relative;
	width: 100%; /* Adjust as needed */
	height: auto; /* Adjust as needed */
  }
  
  .room1 {
	width: 100%;
	height: auto;
	display: block;
	transition: opacity 0.3s ease-in-out;
  }
  
  .room-container1::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("image/room1(1).avif");
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  
  .room-container1:hover .room1 {
	opacity: 0;
  }
  
  .room-container1:hover::before {
	opacity: 1;
  }
  .room-container2 {
	position: relative;
	width: 100%; /* Adjust as needed */
	height: auto; /* Adjust as needed */
  }
  
  .room2 {
	width: 100%;
	height: auto;
	display: block;
	transition: opacity 0.3s ease-in-out;
  }
  
  .room-container2::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("image/room2(1).avif");
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  
  .room-container2:hover .room2 {
	opacity: 0;
  }
  
  .room-container2:hover::before {
	opacity: 1;
  }
  .room-container3 {
	position: relative;
	width: 100%; /* Adjust as needed */
	height: auto; /* Adjust as needed */
  }
  
  .room3 {
	width: 100%;
	height: auto;
	display: block;
	transition: opacity 0.3s ease-in-out;
  }
  
  .room-container3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("image/room3(1).avif");
	background-size: cover;
	background-position: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
  }
  
  .room-container3:hover .room3 {
	opacity: 0;
  }
  
  .room-container3:hover::before {
	opacity: 1;
  }
  
  
  .room img {
	width: 100%;
	height: auto;
	border-radius: 10px;
  }
  
  .room h2 {
	margin-top: 10px;
	font-size: 25px;
	font-family: Lato, sans-serif;
	/* font-size:larger; */
  }
  
  .room p {
	margin-top: 15px;
	font-size: 16px;
	font-family: Lato, sans-serif;
  }
  

  /* Amenities */

  @-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: #f5f5f5; /* Change this to 'transparent' if you want a transparent background */
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    margin-left: 480px;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%); /* Change to match the background */
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}
.sliderall{
background-color: #f5f5f5;
}  

.slide img{
width: 200px;
}
  
  .amenities{
	background-color: #F5F5F5;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 400px;
  }

  .amenities h1{
    font-size: 32px;
    font-family: Lato;
    font-weight: bold;
  }

  /* Storyboard */

  .storycontainer{
    background-color: #f5f5f5;
    padding-top: 5%;
  }

  .storyboard {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    font-family: Lato, sans-serif;
    font-weight: 700!important;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 37%;
    background-color: white;
  }
  .storyboard h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-family: Lato, sans-serif;
    font-weight: 700!important;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* Testimonials */

  .heading {
    text-align: center;
    /* color: #454343; */
    font-size: 32px;
    font-family: 'Lato';
    font-weight: bold;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;
}
/* .white-heading{
    color: #ffffff;
} */
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(image/headerline.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(image/headerline.png);
	  height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
/* .white-heading span {
    color: #ffffff;
} */
/*-----Testimonial-------*/

.testimonial:after {
    position: absolute;
    top: -0 !important;
    left: 0;
    content: " ";
    /* background: url(image/headerline.png); */
    background-size: 100% 100px;
    width: 100%;
    height: 100px;
    float: left;
    z-index: 99;
}

.testimonial {
    min-height: 375px;
    /* position: relative; */
    background-color: #F5F5F5;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
}

.container{
	padding-left: 360px;
}
#testimonial4 .carousel-inner:hover{
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#testimonial4 .carousel-inner:active{
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
#testimonial4 .carousel-inner .item{
  overflow: hidden;
}

.testimonial4_indicators .carousel-indicators{
  left: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  height: 20px;
  bottom: 15px;
  padding: 0 5px;
  cursor: e-resize;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
.testimonial4_indicators .carousel-indicators li{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  text-indent: 0;
  margin: 2px 3px;
  cursor: pointer;
  display: inline-block;
  background: #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators .active{
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  margin: 2px 3px;
  background-color: #9dd3af;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar{
  height: 3px;
}
.testimonial4_indicators .carousel-indicators::-webkit-scrollbar-thumb{
  background: #eeeeee;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.testimonial4_control_button .carousel-control{
  top: 175px;
  opacity: 1;
  width: 40px;
  bottom: auto;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
  overflow: hidden;
  line-height: 38px;
  text-shadow: none;
  text-align: center;
  position: absolute;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.6s cubic-bezier(0.3,1,0,1);
  transition: all 0.6s cubic-bezier(0.3,1,0,1);
}
.testimonial4_control_button .carousel-control.left{
  left: 7%;
  top: 50%;
  right: auto;
}
.testimonial4_control_button .carousel-control.right{
  right: 7%;
  top: 50%;
  left: auto;
}
.testimonial4_control_button .carousel-control.left:hover,
.testimonial4_control_button .carousel-control.right:hover{
  color: #000;
  background: #fff;
  border: 2px solid #fff;
}

.testimonial4_slide h3{
  font-size: 18px;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

.testimonial4_header{
  top: 0;
  left: 0;
  bottom: 0;
  width: 550px;
  display: block;
  margin: 30px auto;
  text-align: center;
  position: relative;
}
.testimonial4_header h4{
  /* color: #ffffff; */
  font-size: 22px;
  font-weight: 600;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.testimonial4_slide{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}

.testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    /* color: #f2f2f2; */
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
}
.testimonial4_slide p {
    /* color: #ffffff; */
    font-size: 16px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial4_slide h4 {
  /* color: #ffffff; */
  margin-top: 30px;
  font-size: 22px;
}

.testimonial .carousel {
	padding-bottom:20px;
}

.read-more {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
.testimonial p {
  transition: all 0.3s ease;
}


/* Style the Font Awesome icons for carousel controls */
.carousel-control-prev i,
.carousel-control-next i {
    font-size: 35px; /* Adjust the size as needed */
    color: black; /* Change the color to black */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev i {
    left: 10px; /* Adjust the position as needed */
}

.carousel-control-next i {
    right: 10px; /* Adjust the position as needed */
}


.testimonial .carousel-control-next-icon, .testimonial .carousel-control-prev-icon {
    width: 35px;
    height: 35px;
}

.enquirenow {
  background-color: #f5f5f5; 
  padding: 20px 0;
  margin-left: 25%;
}

.formcontainer {
  width: 90%;
  max-width: 600px;
  margin: auto;
  background: #b6e7f6; /* Match background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formcontainer h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.formcontainer form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.half-width-pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.full-width {
  grid-column: 1 / -1;
}

.formcontainer label {
  margin-top: 10px;
  font-size: 16px;
  font-family: Lato, sans-serif;
}

.formcontainer input, select, textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.formcontainer button {
  margin-top: 15px;
  padding: 10px;
  background: #19a8ef;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formcontainer button:hover {
  background: #4cae4c;
}

@media (max-width: 768px) {
  .half-width-pair {
    grid-template-columns: 1fr 1fr;
  }

  .half-width-pair .half-width {
    flex: 1;
  }
}

header .carousel-inner .item {
	height: 100vh;
}
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
.carousel-caption {
	padding-bottom: 250px;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
}
.carousel-caption h2 span {
	color: #EDBB00;
}
.carousel-caption h3{
  font-size: 20px;
}
.carousel-caption a {
  background: #EDBB00;
  padding: 15px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  text-decoration: none;
  font-size: 15px;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
.carousel-indicators .active {
	background-color: #EDBB00;
	border-color: #EDBB00;
}
/* .carousel-indicators{
  margin-left: 20%;
} */
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .carousel-caption {
      padding-bottom: 150px!important;
      margin-left: 0%!important;
  }
    .carousel-caption h2 {
      font-size: 35px;
  }
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
  .carousel-caption h5 {
    font-size: 16px;
  }
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 14px;
  }
	.rooms-container {
	  grid-template-columns: 1fr;
	}
	
	.hero2 {
	  /* margin-top: 30px; */
	  padding: 20px;
	}

	.container{
		padding-left: 0px;
	}
  }
  
  @media (max-width: 576px) {
    .carousel-caption{
      padding-bottom: 315px!important;
      margin-left: 0%!important;
    }

    .carousel-indicators{
      margin-left: 1%!important;
      left: 20% !important;
    }
	.rooms-container {
	  grid-template-columns: 1fr;
	}
	
	/* .hero2 {
	  margin-top: 30px;
	  padding: 10px;
	} */
  }
  

  /* Media Queries */
  @media (max-width: 900px) {
	.logo-img {
		width: 20%;
		height: auto;
	  }
  
	#sidebar {
	  width: 100%;
	  left: 0;
	  top: 0;
	  height: auto;
	  padding: 20px 20px 0px 20px;
    opacity: 10;
    position: fixed;
    z-index: 1000;
	}
	#sidebar .logo {
	  text-align: center;
	}
	#sidebar .menu {
	  display: block;
	  position: absolute;
	  right: 12%;
	  top: 45px;
	}
	#sidebar .components {
	  display: none;
	}
	#sidebar .components li {
	  padding: 10px;
	  list-style-type: none;
	  text-align: center;
	}
	#sidebar .components li.hide-icons span {
	  display: none;
	}
	#sidebar.show .components {
	  display: block;
	}
	#content {
	  margin-top: 80px;
	  margin-left: 0;
	  width: 100%;
	}
	.footer {
	  display: none;
	}

  .testimonial{
    position: relative;
  }
  

.mb-5 {
  margin-bottom: 0 !important;
}
  }
  
  